body {
    font-family: "Roboto Slab", serif;
    background: linear-gradient(135deg, #8E3E63, #d276a3, #F6FAB9, #CAE6B2);
    min-height: 100vh;
}
.hero {
    background: linear-gradient(45deg, #F7B5CA, #f4eded);
    padding: 100px 0;
    border-radius: 0 0 50% 50% / 20px;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    pointer-events: none; 
  }
  
  .bubble {
    position: absolute;
    bottom: -150px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.737);
    border-radius: 50%;
    animation: bubble 15s infinite ease-in-out;
  }
  
  .bubble:nth-child(1) { left: 10%; width: 40px; height: 40px; animation-duration: 10s; }
  .bubble:nth-child(2) { left: 20%; width: 30px; height: 30px; animation-duration: 12s; }
  .bubble:nth-child(3) { left: 30%; width: 50px; height: 50px; animation-duration: 14s; }
  .bubble:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-duration: 8s; }
  .bubble:nth-child(5) { left: 50%; width: 25px; height: 25px; animation-duration: 18s; }
  .bubble:nth-child(6) { left: 60%; width: 45px; height: 45px; animation-duration: 16s; }
  .bubble:nth-child(7) { left: 70%; width: 55px; height: 55px; animation-duration: 10s; }
  .bubble:nth-child(8) { left: 80%; width: 35px; height: 35px; animation-duration: 15s; }
  .bubble:nth-child(9) { left: 90%; width: 20px; height: 20px; animation-duration: 20s; }
  .bubble:nth-child(10) { left: 85%; width: 30px; height: 30px; animation-duration: 25s; }
  
  @keyframes bubble {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 0.6;
    }
    50% {
      transform: translateY(-600px) translateX(50px); /* Ajuste para movimiento más largo */
      opacity: 0.4;
    }
    100% {
      transform: translateY(-1200px) translateX(-50px); /* Ajuste para movimiento más largo */
      opacity: 0;
    }
  }


.lead{
    font-size: 25px;
}
.project-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
.project-card .card-img-top {
    height: 200px;
}
.project-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.project-card .card-text {
    flex-grow: 1;
}
.skill-item {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.skill-item:hover {
    transform: scale(1.1);
}
.skill-item img {
    max-width: 60%;
    max-height: 60%;
}
.navbar {
    background: linear-gradient( #cabcc0);
    backdrop-filter: blur(10px);
}
.btn-primary {
    background-color: #d276a3;
    border-color: #ffffff;
    margin-top: auto;
}
.btn-primary:hover {
    background-color: #c13a79;
    border-color: #ffffff;
}